.example-full-width {
  width: 50%;
  height: 5%;
  padding: 15px;
}
#select{
  width: 50%;
  height: 5%;
  padding: 15px;
}
.cardM{
  margin-top:3%;
}
h3{
  color:#1360DD;
}
button{
  background-color: #2777edb0;
  color: white;
}
mat-card{
  margin-top: 3%;
}
