.example-full-width {
  width: 50%;
  height: 5%;
  padding: 15px;
  
}
.cardM{
  margin-top: 3%;
  width: 50%;;
  display: inline-grid;
  text-align: center;
}
img{
  width: 25%;
  display: inherit;
  margin-left: 39%;
}
.login{
  text-align: center;
}
.body{
  display: inherit;

}
h3{
  color:#1360DD;
}
button{
  background-color: #54b6c7;
  color: white;
  border-radius: 15px;
  width: fit-content;
  margin-left: 35%;
}